 /* Main Styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Georgia', serif;
}

/* Header Styles */
.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightpink;
}

.left-section, .right-section {
  width: 150px;
}

.middle-section {
  flex-grow: 1;
  margin: 0 70px;
}

.search-bar {
  width: 50%;
  padding: 10px;
}




.link1 {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  background-color: red;
  color: blanchedalmond;
  padding: 10px 29px;
  border-radius: 10px;
  transition: opacity 0.15s;
}

.link1:hover, .link1:active {
  opacity: 0.7;
}
